@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5StnKWgpfO2iSkLzTz-AABg.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.all-caps {
  text-transform: uppercase;
}
.bold {
  font-weight: 900;
}
nav {
  border-bottom: solid 1px rgba(255, 255, 255, 0.13);
}
nav ul li a.valign-wrapper {
  height: 64px;
}
nav .brand-logo {
  font-size: 24px !important;
  letter-spacing: 2px;
}
.navigation {
  display: block;
  background-color: #000;
  padding: 32px 16px;
}
.navigation a {
  display: block;
  text-align: center;
  padding: 16px 32px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 400;
  font-size: 16px;
  margin: 0px auto;
}
.navigation .active {
  border-bottom: solid 1px rgba(255, 255, 255, 0.13);
}
.skills .row {
  margin: 0;
  padding: 32px 16px;
}
.skills img {
  display: block;
  margin: 32px auto;
  max-width: 100%;
}
.skills .l3 {
  margin-left: 3% !important;
}
.skills .skill {
  padding: 16px;
  margin: 16px;
  background: #000;
  box-shadow: 10px 10px 0px #888;
  color: #FFF !important;
  text-align: center;
  line-height: 64px;
  font-size: 1.4em;
  text-transform: uppercase;
  min-height: 480px;
}
.skills .skill div {
  margin: 16px 0px;
}
.skills .skill div.col {
  margin: 0;
}
.skills .skill span {
  display: block;
  line-height: 32px;
  font-size: 0.8em;
  text-transform: capitalize;
}
.portfolio .row {
  margin: 0;
  padding: 0;
}
.portfolio .row .col {
  padding: 0;
}
.portfolio .row .col .section {
  height: 480px;
  position: relative;
}
.portfolio .row .col .section .valign {
  width: 100%;
  max-height: 480px;
}
.portfolio .row .col .section .valign img {
  max-height: 480px;
  display: block;
  margin: auto;
}
.portfolio .row .col .section .stack {
  position: absolute;
  bottom: 0;
  left: 16px;
  padding: 16px;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.54);
  width: 100%;
}
.portfolio .row .col .section .stack span {
  float: left;
  line-height: 26px;
}
.portfolio .row .col .section .stack svg {
  float: left;
}
.portfolio .row .col .section .stack p {
  float: right;
  display: block;
  text-align: right;
  line-height: 26px;
  padding: 0px 16px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);
  margin: 0px 16px;
  min-width: 80px;
  font-size: 0.7em;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.86);
}
.portfolio .row .col .section span {
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
.portfolio .row .col .section .title {
  font-size: 2em;
  font-weight: 900;
}
.portfolio .row .col .section .subtitle {
  font-size: 1.6em;
  font-weight: 900;
}
.portfolio .row .col .section .details {
  font-size: 1.6em;
  font-weight: 900;
  margin: 40px 32px;
}
.blog .about {
  padding: 32px;
}
.blog .about-title {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  color: #FFF;
  display: block;
  line-height: 80px;
}
.blog .about-text {
  text-align: center;
  color: #FFF;
  font-size: 1.2em;
  line-height: 32px;
  display: block;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 32px;
}
